.error-bubble {
  top: -0.25rem;
  right: -0.375rem;
  display: inline-block;
  background: var(--health);
  color: var(--color-inverted);
  border-radius: 100%;
  padding: 1px;
  position: absolute;
}

.error-bubble svg {
  width: 1em;
  height: 1em;
}
