.scroller {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar);
  scrollbar-gutter: stable;
}

.viewport-always {
  overflow-y: scroll;
}

.viewport-hover {
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar);
  }
}
